<app-toolbar></app-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>  
      <img class="avatar mat-elevation-z8" src=""/>
      <h4 class="name">Akshay Kadam</h4>
  <p class="designation">Software Engineer</p>
  
  <mat-divider></mat-divider>
  <button mat-button  a routerLink="/dashboard" style="margin-right:100px;">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div class="sidebarmenu">
      <ul class="sidebar-menu">
          <li>
              <a class="submenu-1"  href="">
                  Attendence
              </a>
          </li>
        <li>
            <a class="submenu-1"  href="">
                Clearance 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                Holiday calendar 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                HR handbook 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                Leave balance 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                Letter 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                Payslip 
            </a>
        </li>
        <li>
            <a class="submenu-1"  href="">
                Qr code 
            </a>
        </li>
      
      </ul>
  </div>
    
    </mat-sidenav>
    <mat-sidenav-content>
  
    
  
        
      
    </mat-sidenav-content>
  </mat-sidenav-container>