#container{
    min-height: 100vh;
    display:flex;
} 

mat-sidenav{
        margin: 16px;
        width: 80px;
        border-right: none;
        background: #1b2436;
        color :white;
        border-radius: 10px;
        /* padding: 10px; */
        text-align: center;
    }   
      
mat-sidenav-container{
height: calc(100vh - 65px);
} 
.content{
    /* height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px; */
    display:flex;
    font-size: 1rem;
    color:black;
    border-radius: 10px;
 } 
 .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: 25px; 
  }    



.form-field{
    display: inline-block;
    position: relative;
     text-align: left;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: normal;
    font-family: Montserrat,sans-serif!important;
    color: #67757c!important;
    line-height: normal!important;
    width: 100%; 
}
.letter-cont{
    padding: 20px 40px 40px 17px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 17px;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md{
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
}
.main-head{
    font-family:sans-serif;
    font-size: 1.285em;
    font-weight: 400;
    line-height: 1.5;
    color: #4b546e;
    margin: 0;
}
.sbtitle{
    font-weight: 300;
    line-height: 1.6;
    font-size: .928em;
    color: #28314b;
    margin: 7px 0 30px 1px;
    margin-top: 7px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
    padding-right: 24px;
}
.search{
    border-radius: 4px;
    border: 1.5px solid #e5e5e5;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 3x;
    margin-top:20px; 
    margin-left:2.5%;
    width: 85%;
}
.sb{
    border:#e5e5e5;
    width: 100%;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: rgba(27,36,54,.5);
    height: 34px;
}
.bgimage{
  
        /* background-position: 52% 100%;
        /* background-repeat: no-repeat;
        background-size: contain; 
        width: 50%;
        height: 170px;
        display: inline-block; */
        margin-bottom: 30px;
        margin-top: 20px;
       margin-left: 40%;
}

.nps{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    color: rgba(162,172,183,.5);
    text-align: center;
}
