<app-toolbar></app-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>  
      <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200"/> -->
 
      <button mat-button class="menu-button" a routerLink="/userprofile/{{this.id}}" >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-sidenav>
    <mat-sidenav-content >
        <div class="content mat-elevation-z4">
            <div id="container">
                <div class="letter-cont">
                 <div class="cont-fliud">
                    <div class="row">
                       <div class="col-md-6">
                          <h3 class="heading">Letter</h3> 
                       </div> 
                       <div class="col-md-6"></div>
                        <div class="sbtitle" style="width: 90%;">
                            Here, you can find all the letters issued by the company.
                        </div>
                        <div class="row">
                           
                        </div>
                    </div> 
                    <div class="center">
                    </div>
                    <!-- <div class="cont-fliud"> -->
                        <!-- <div class="row"> -->
                            <div class="imagebg"></div>
                        <!-- </div> -->
                        <div class="textbg">
                            NO LETTER
                        </div>
                    <!-- </div> -->
                 </div>

                </div>
   </div>
   </div>
 
     </mat-sidenav-content> 
     
   </mat-sidenav-container>
