<app-toolbar></app-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>  
    <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200"/> -->
  
       <button mat-button class="menu-button" (click)="backClicked()" >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </mat-sidenav>
    <mat-sidenav-content >
        <div class="content mat-elevation-z4">
            <div id="container">
 
<full-calendar [options]="calendarOptions" style="width: 50%; margin-left:90px;"></full-calendar> 
            </div>
        </div>
      
 
     </mat-sidenav-content> 
     
   </mat-sidenav-container>  


<!-- <div class="attend-calender" style="flex-direction:column;box-sizing: border-box;display:flex ;">
<div class="attend-month-grid">
<div class="attend-day-names">
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">SUN</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">MON</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">TUE</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">WED</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">THU</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">Fri</div>
<div class="attend-day-name" style="flex: 1 1 0%; box-sizing: border-box;">SAT</div>
</div>
<div class="attain-weeks">
<div class="week"> 
  <div class="attain-week-date" style="flex:1 1 0%;box-sizing: border-box;"> 
<div class="daydate">
<div class="attain-date-digit" style="margin-left: 80px;">27</div>   
</div> 
<div class="daydate" style="margin-left:1px;">
<div class="attain-date-digit" style="margin-left: 80px;">28</div>   
</div> 
<div class="daydate" style="margin-left:80px;">
<div class="attain-date-digit" style="margin-left: 80px;">29</div>   
</div>
<div class="daydate" style="margin-left:80px;">
    <div class="attain-date-digit" style="margin-left: 80px;">30</div>   
    </div>
    <div class="daydate" style="margin-left:80px;">
        <div class="attain-date-digit" style="margin-left: 100px;">31</div>   
        </div>   
        <div class="daydate" style="margin-left:100px;">
            <div class="attain-date-digit" style="margin-left: 100px;">1</div>   
            </div>  
            <div class="daydate" style="margin-left:100px;">
                <div class="attain-date-digit" style="margin-left: 80px;">2</div>   
                </div>  
</div>  

</div>
</div>
</div> -->
