.container {
  position: static;
  display: grid;
  height: 85vh;
  grid-template-columns: auto auto;
}

.child1 {
  tab-size: 30%;
  flex-shrink: 0;
  background-color: rgb(244, 244, 244);
  /* overflow-x: hidden;
  overflow-y:auto; */
  text-align: justify;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

.text1 {
  margin-left: 30px;
  margin-top: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.card1 {
  max-width: 100%;
  margin-left: 5px;
  margin-top: 50px;
  height: 100px;
  /* background:url(/assets/image/celebration-pattern.png); */
}

.card2 {
  max-width: 100%;
  margin-left: 10px;
  margin-top: 30px;
  height: 180px;
}

.card3 {
  max-width: 100%;
  margin-left: 10px;
  margin-top: 50px;
  height: 180px;
}

mat-toolbar {
  background: white;
  color: black;
  padding: 1px;
  width: 10px;
}

mat-sidenav {
  margin: 16px;
  width: 80px;
  border-right: none;
  background: #1b2436;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.header {
  font-size: 15px;
}

.content {
  /* height: calc(100vh - 98px); */

  margin: 13px;
  margin-left: 30px;
  /* min-height: 100vh; */
  display: flex;
  font-size: 1rem;
  color: black;
  border-radius: 10px;
  overflow: hidden !important;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  /* width: 100%; */
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 25px;
  margin-left: 10px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.goto {
  margin-bottom: 50%;
  margin-left: 80%;
}

.mtmail {
  margin-left: 850px;
  padding-top: 0;
  color: darkgray;
}

.menuline {
  padding-right: 30px;
}

.feed {
  margin-left: 50px;
  padding-top: 50px;
}

/*----------------------------------------------------------------------------------------*/

.right {
  width: 45vw;
  background-color: rgb(235, 235, 235);
  overflow-y: scroll;
  height: 100vh;
  /* background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  height: calc(100vh - 42px); */
}

.right::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.left {
  width: 60vw;
  background-color: rgb(244, 244, 244);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  border: 5px solid transparent;
  text-align: justify;
}

.left::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* .tab-card{
  overflow-x: hidden;
  overflow-y:scroll;
  
} */
#container {
  min-height: 100vh;
  display: flex;
}

.uppercase {
  color: #1b2436;
  opacity: 0.66;
  /* filter: alpha(opacity=66); */
  font-weight: 550;
  margin: 0 0 8px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 55px;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.shorcut {
  color: #cacfd5;
  font-size: 1.571em;
  font-weight: 600;
  padding: 0 0 24px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 24px;
  padding-left: 30px;
}

.wishcard {
  padding: 16px 16px 16px 18px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
}

.user {
  width: 32px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.avtar-cont {
  margin: auto;
}

avtar-content {
  text-align: center;
  border-radius: 100%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(241, 196, 15);
  font: 10px / 32px Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 10px;
  line-height: 32px;
  font-family: Helvetica, Arial, sans-serif;
}

.user-details {
  width: calc(100% - 32px);
  padding: 0 0 0 13px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 13px;
}

.inline-block {
  font-size: 0.657em;
  color: #007afc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.dblock {
  font-size: 0.714em;
  color: #767676;
  margin: 0 0 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedtext {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
  padding: 16px 0 0;
  padding-top: 16px;
  align-items: center !important;
  display: flex !important;
}

figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.spin {
  line-height: 1.428em;
  font-weight: 400;
  color: rgba(27, 36, 54, 0.8);
  word-break: break-word;
}

.calender {
  background-color: white;
  width: 80%;
  margin-left: 60px;
}

.special-date {
  background-color: red;
}

.profilebar {
  font-size: 0.857em;
  color: #6f778b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.row {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.cold {
  padding: 0 !important;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.wishcard {
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  max-height: 112px;
  align-items: flex-start !important;
  display: flex !important;
}

.useravt {
  width: 32px;
  position: relative;
  display: flex;
}

.bdaycap {
  top: -25px;
  right: auto;
  bottom: auto;
  left: -60px;
  position: absolute;
  z-index: 9;
  z-index: auto;
  width: 24px;
}

.userdet {
  width: calc(80% - 32px);
  padding-left: 13px;
}

.ddblock {
  font-size: 0.757em;
  color: #007afc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  display: block !important;
}

.branch {
  font-size: 0.514em;
  font-weight: 500;
  width: 80%;
  margin-top: 0px;
}

.avatar {
  margin-top: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

mat-calender::selection {
  color: red;
}

.arrow-circle {
  top: calc(50% - 19px);
  right: -2px;
  bottom: 0;
  left: auto;
  position: absolute;
  z-index: 9;
  width: 2.15714em;
  height: 2.15714em;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #262e3e;
  border-radius: 96px;
  background-size: 14px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 23%);
  cursor: pointer;
  background-image: url(/assets/image/right-arrow-forward.svg);
}
::ng-deep.my-tooltip{

background-color:#007afc;

}