<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu" class="menuline">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item a routerLink="/">Logout
      <mat-icon><b>power_settings_new</b></mat-icon>
    </button>
    <button mat-menu-item>settings
      <mat-icon><b>settings</b></mat-icon>
    </button>
  </mat-menu>
  <div class="header">
    <h6 class="header">SYNERZIP SOFTECH INDIA PRIVATE LIMITED</h6>
  </div>

  <div class="mtmail">
    <button mat-button>
      <mat-icon matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200"/> -->


    <button mat-button class="menu-button" matTooltip="Home" matTooltipPosition="right">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button class="menu-button" matTooltip="Inbox" matTooltipPosition="right" a routerLink="/inbox">
      <mat-icon>markunread</mat-icon>
    </button>
    <button mat-button class="menu-button" matTooltip="Request" matTooltipPosition="right" a routerLink="/request">
      <mat-icon>how_to_reg</mat-icon>
    </button>
    <button mat-button class="menu-button" matTooltip="Profile" matTooltipPosition="right" a
      routerLink="/userprofile/{{this.id}}">
      <mat-icon>person</mat-icon>
    </button>


  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <div class="left">
        <h1 class="text1">Hi Akshay ! </h1>
        <mat-card class="card1" style="background-image:url(/assets/image/celeberation-pattern.png)">
          <h5
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <b>Today's celebrations</b>
          </h5>
          <mat-card style="float: left;margin-left:10px;width:25%;height:40%;">

            <div>
              <figure
                style="margin-block-start:0em;margin-block-end: 1em;margin-inline-start:0px;margin-inline-end: 40px;">
                <img src="/assets/image/bday-cap.png" style="width:20px;">
                <div style="width: 32px; height: 32px; ">
                  <div
                    style="text-align: center;border-radius: 100%; text-transform:uppercase;color:rgb(255, 255, 255); background-color:rgb(127, 140, 141);font: 10px/32px Helvetica, Arial, sans-serif;">
                    ARK </div>
                </div>

              </figure>

            </div>
            <div>
            </div>
          </mat-card>
          <mat-card style="float:left;margin-left:15px;width:25%;height:40%;">
            <div>
              <figure
                style="margin-block-start:0em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 40px;">
                <img src="/assets/image/bday-cap.png" style="width:20px;">
                <div style="width: 32px; height: 32px;">
                  <div
                    style="text-align: center;border-radius: 100%; text-transform:uppercase;color:rgb(255, 255, 255); background-color:rgb(127, 140, 141);font: 10px/32px Helvetica, Arial, sans-serif;">
                    NA </div>
                </div>
              </figure>
            </div>

          </mat-card>
          <mat-card style="float: left;margin-left:15px;width:25%;height:40%;">
            <div>
              <figure
                style="margin-block-start:0em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 40px;">
                <img src="/assets/image/bday-cap.png" style="width:20px;">
                <div style="width: 32px; height: 32px;">
                  <div
                    style="text-align: center;border-radius: 100%; text-transform:uppercase;color:rgb(255, 255, 255); background-color:rgb(127, 140, 141);font: 10px/32px Helvetica, Arial, sans-serif;">
                    SSP </div>
                </div>
              </figure>
            </div>

          </mat-card>
        </mat-card>
        <mat-divider></mat-divider>
        <h5 style="margin-left:30px; font-size:1rem;font-family:'Times New Roman', Times, serif;"><b>Feeds</b></h5>
        <mat-card class="card2">
          <textarea cols="70" rows="3"  placeholder="Write Somethin here...">
             
          </textarea>
          <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Post Text
      </button>
     
      <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="primary" style="margin: 20px; background-color: rgb(18, 112, 18);">
    Post Image
  </button>
  
        </mat-card>
        <mat-card class="card3">

        </mat-card>
        <mat-card class="card3">

        </mat-card>
      </div>
      <div class="right">
        <button mat-button style="margin-top: 20px; margin-left: 30px; color:#00bfa5;">
          <mat-icon style="font-size:medium; margin-top: 3px;">settings</mat-icon>
          Customize
        </button>
        <h6 class="uppercase">
          MARK ATTENDENCE</h6>
        <mat-card style="max-width: 80%; margin-left:40px;height:50px;">
          <button mat-button
            style="margin-left: 10%; color:white; background-color:#00bfa5; width:80%; margin-top: 5px;">
            Mark Attendence
          </button>
        </mat-card>
        <mat-card style="max-width:80%; margin-left:40px;height:50px; margin-top:30px;">
          <!-- <figure class="mo" style="align-items:center!important;">
                 <img src="/assets/image/icon-bot.svg">
              </figure> -->
          <div>
            <img src="/assets/image/icon-bot.svg" style="margin-left:3%; float:left;height:30px;width:70px;">
          </div>
          <div style="margin-left:5px; margin-top:8px;">
            <p style="font-size:1em; margin-left: 20%; color: #1b2436; opacity:.8; font-weight:400;"> Have any queries ?
              I am here to help</p>
          </div>
        </mat-card>

        <div style="order:2;">
          <h6 class="uppercase">Inbox</h6>
        </div>
        <div>
          <mat-card style="max-width: 80%; margin-left:40px; height:30px;">
            <div>
              <img src="/assets/image/icon-inbox.svg" style="margin-left:3%; float:left;height:35px;width:90px;">
            </div>
            <div style="margin-top: 3px;">
              <p style="font-size: 1em; font-weight:400;  color: #121730; opacity:1!important;">
                <b style="font-size:30px; color: #121730; font-weight:400; margin-top: 10px;">0</b>&nbsp;&nbsp;
                Pending tasks
              </p>
            </div>
          </mat-card>
        </div>
        <div>
          <h6 class="uppercase">Yesterday's Attendance</h6>
        </div>
        <div>
          <mat-card style="max-width: 80%; margin-left:40px; height:50px;">
            <div style="box-sizing: border-box; margin-bottom: 10%;">
              <ul style="list-style:none; display: inline;">
                <li style="float: left; margin-left:10%;">
                  <small style="max-width: 100%!important; color: #1b2436; opacity:.66;">
                    In
                  </small>
                  <p>-</p>
                </li>
                <li style="float: left;margin-left:20%;">
                  <small style="max-width: 100%!important; color: #1b2436; opacity:.66;">
                    Out
                  </small>
                  <p>-</p>
                </li>
                <li style="float:left;margin-left:20%">
                  <small style="max-width: 100%!important; color: #1b2436; opacity:.66;">
                    Working hours
                  </small>
                  <p>00:00</p>
                </li>
              </ul>

              <a routerLink="calender" style="display: flex!important; cursor: pointer;">
                <div style="margin-left:30px; ">
                  <img src="/assets/image/icon-thunbs-up.svg">
                </div>
              </a>
            </div>

          </mat-card>
        </div>
        <div>
          <h6 class="uppercase">Profile Completion </h6>
        </div>
        <div>
          <mat-card style="max-width: 80%; margin-left:40px; height:60px;">
            <div>
              <p style="line-height: 20px;font-size: small;font-weight:500;"> Please keep your profile updated </p>
              <div style="width: 40px; margin-top: 10px;">
                <div
                  style="text-align: center; border-radius: 100%; text-transform: uppercase; color: rgb(255, 255, 255); background-color: rgb(52, 152, 219); font: 10px / 32px Helvetica, Arial, sans-serif;">
                  ARK
                </div>

              </div>
            </div>
            <div>

            </div>
          </mat-card>
        </div>
        <div>
          <h6 class="uppercase">Shortcut</h6>
        </div>
        <div>
          <mat-card style="max-width: 80%; margin-left:40px; height:60px;">
            <div class="shorcut">
              NO SHORTCUT AVAILABLE
            </div>
          </mat-card>
        </div>
        <div>
          <h6 class="uppercase">Planned Leaves Of Team Members (0)</h6>
        </div>
        <div>
          <mat-card style="max-width: 80%; margin-left:40px; height:60px;">
            <div class="shorcut" style="padding-left: 20%;">
              NO LEAVE APPLIED
            </div>
          </mat-card>
        </div>
        <div>
          <h6 class="uppercase">Calender</h6>
        </div>
        <mat-card>

        </mat-card>
      </div>


      <!-- <router-outlet></router-outlet>
      <div class="container">
        <div style class="child1">
          <h1 class="text1">Hi Akshay ! </h1>
          <mat-card class="card1" style="background-image:url(/assets/image/celeberation-pattern.png)">
            <h5
              style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
              <b>Today's celebrations</b></h5>
          </mat-card>
          <mat-divider></mat-divider>
          <h5 style="margin-left:30px; font-size:1rem;font-family:'Times New Roman', Times, serif;"><b>Feeds</b></h5>
          <mat-card class="card2">

          </mat-card>
          <mat-card class="card3">

          </mat-card>
        </div>
        <div style="background-color: rgb(235, 235, 235);" class="container2">

          <button mat-button style="margin-top: 20px; margin-left: 30px; color:#0ee2e2;">
            <mat-icon style="font-size:medium; margin-top: 3px;">settings</mat-icon>
            Customize
          </button>

          <h6 style="font-size: 10px; color: #1b2436; margin-left: 55px; font-family: Arial, Helvetica, sans-serif; ">
            MARK ATTENDENCE</h6>
          <mat-card style="max-width: 70%; margin-left:55px;height:60px;">
            <button mat-button style="margin-left: 30%; color:white; background-color:#0ee2e2;">
              Mark Attendence
            </button>
          </mat-card>
          <mat-card style="max-width:70%; margin-left:55px;height:50px; margin-top:30px; font-size:small;">
            Have any queries ? I am here to help
          </mat-card>
        </div>
      </div> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>